<app-page-toolbar backHref="/projects">
  <ion-button end fill="clear" class="wt-header-icon-btn" aria-label="Close" (click)="dismiss()">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>
</app-page-toolbar>

<ion-content [fullscreen]="true">
 <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Project name <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="name" type="text"></ion-input>
  </ion-item>
  <ion-button expand="block" type="submit" [disabled]="form.invalid">Create project</ion-button>
 </form>
</ion-content>
