<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Projects</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentNewProjectCreateModal()" aria-label="Create project">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        <span class="hide-mobile">New</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wt-page-padding projects-page">
    <div *ngIf="projects.length === 0" class="empty-state">
      <app-card title="No projects yet" subtitle="Create a project to get your tracking snippet.">
        <ion-button expand="block" (click)="presentNewProjectCreateModal()">
          <ion-icon slot="start" name="add"></ion-icon>
          Create project
        </ion-button>
      </app-card>
    </div>

    <ion-grid *ngIf="projects.length > 0" class="ion-no-padding project-grid">
      <ion-row>
        <ion-col size="12" sizeMd="6" sizeLg="4" *ngFor="let project of projects">
          <button
            type="button"
            class="project-tile wt-hover-lift"
            [class.project-tile--active]="isActiveProject(project._id)"
            (click)="navigateToDetails(project)"
            [attr.aria-label]="'Open project ' + project.name">
            <span class="project-tile__name">
              {{ project.name }}
              <ion-badge *ngIf="isActiveProject(project._id)" color="primary" class="project-tile__badge">Current</ion-badge>
            </span>
            <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
