<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Projects</ion-title>
    <ion-button slot="end" (click)="presentNewProjectCreateModal()">
      <ion-icon slot="start" name="add"></ion-icon>
      Create project
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Projects</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="projects.length == 0">
    <h2>No Projects! Add a new project.</h2>
  </div>

<ion-list>
  <ion-item *ngFor="let project of projects" button (click)="navigateToDetails(project._id)">
    <ion-label>
      <h2>{{ project.name }}</h2>
    </ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
</ion-list>

</ion-content>
